body{
    background: linear-gradient(90deg,#bfff00 40%, #066eff 45%, #ff0000 80%);
    margin: 0 auto;
    padding: 0;
}

/*          Header          */
header{
    background: #00285f;
    display: grid;
    padding: 0.5%;
    grid-template-columns: 5% 3fr;
}
.header-menu{
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 5px;
    justify-content: end;
}
.header-menu li{ 
    padding: 10px;
    padding-top: 15px;
}
.header-menu li a{
    color: #fff;
}
header .logo-cont{
    width: 2.8em;
}
header .logoJMS{
    width: 100%;
}

/*            Principio               */
.principio div{
    display: grid;
    grid-template-columns: auto;
    background-color: black;
}
.principio .logo-cont{
    width: 30%;
    border-radius: 40%;
    height: auto;
    background-color: #00285f;
    top: 200px;
}

.banner ul{
    padding: 0;
    margin: 0;
}


    /*      Slider        */

.slider{
    width: 100%;
}